<h2><%= @score.team.name %>'s <%= @score.game.name %> Score</h2>

<%= form_for @score, url: score_url, html: {class: "ui form"} do |f| %>

  <div class="field">
    <%= f.label :score %>
    <%= f.text_field :score, placeholder: "Raw Score" %>
  </div>

  <%= f.submit "Submit", class: "ui green button" %>
<% end %>
