<h2 class="ui header">Matches</h2>

<div class="ui segment">
  <div class="ui vertically divided grid">

    <div class="four column row">
      <div class="column">
        <h4 class="ui small grey header">Teams</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Scores normalized (raw)</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Game</h4>
      </div>
      <div class="right aligned column">
        <h4 class="ui small grey header">Actions</h4>
      </div>
    </div>

    <%= render partial: "shared/empty_row", locals: { collection: @matches, item_title: "matches" } %>

    <% @matches.each do |m| %>
      <div class="four column row">
        <% sorted_scores = m.scores.sort %>
        <div class="column">
          <% sorted_scores.each do |s| %>
            <h4><%= s.team.name %></h4>
          <% end %>
        </div>
        <div class="column">
          <% sorted_scores.each do |s| %>
            <h4><%= link_to controller: :scores, action: :edit, id: s.id do %>
              <%= s.normalized %> (<%= s.score %>)
            <% end %></h4>
          <% end %>
        </div>
        <div class="column">
          <%= link_to controller: :matches, action: :index, game_id: m.game.id do %>
            <h3><%= m.game.name %></h3>
          <% end %>
        </div>
        <div class="right aligned column">
          <%= link_to "Scores", { controller: :scores, action: :index, match_id: m.id }, class: "ui blue button" %>
          <%= link_to "Edit", {action: "edit", id: m.id}, method: :get, class: "ui blue button" %>
          <%= link_to "Delete", {action: "destroy", id: m.id}, method: :delete, class: "ui red button" %>
        </div>
      </div>
    <% end %>

    <%= render partial: "shared/new_button_row", locals: { item_title: "Match" } %>
  </div>
</div>
