<h2 class="ui header">Matches</h2>

<div class="ui segment">
  <div class="ui vertically divided grid">
    <%= render partial: "shared/empty_row", locals: { collection: @matches, item_title: "matches" } %>

    <div class="four column row">
      <div class="column">
        <h4 class="ui small grey header">Team 1</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Team 2</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Game</h4>
      </div>
      <div class="right aligned column">
        <h4 class="ui small grey header">Actions</h4>
      </div>
    </div>

    <% @matches.each do |m| %>
      <div class="four column row">
        <% score = m.score %>
        <div class="column">
          <h3><%= m.teams.first.name %> <%= score[m.teams.first.name] %></h3>
        </div>
        <div class="column">
          <h3><%= m.teams.second.name %> <%= score[m.teams.second.name] %></h3>
        </div>
        <div class="column">
          <h3><%= m.game.name %></h3>
        </div>
        <div class="right aligned column">
          <%= link_to "Edit", {action: "edit", id: m.id}, method: :get, class: "ui blue button" %>
          <%= link_to "Delete", {action: "destroy", id: m.id}, method: :delete, class: "ui red button" %>
        </div>
      </div>
    <% end %>

    <div class="one column row">
      <div class="right aligned column">
        <%= link_to "New Match", { action: "new" }, method: :get, class: "ui green button" %>
      </div>
    </div>
  </div>
</div>
