<h2 class="ui header">Matches</h2>

<div class="ui segment">
  <div class="ui vertically divided grid">

    <div class="four column row">
      <div class="column">
        <h4 class="ui small grey header">Teams</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Scores</h4>
      </div>
      <div class="column">
        <h4 class="ui small grey header">Game</h4>
      </div>
      <div class="right aligned column">
        <h4 class="ui small grey header">Actions</h4>
      </div>
    </div>

    <%= render partial: "shared/empty_row", locals: { collection: @matches, item_title: "matches" } %>

    <% @matches.each do |m| %>
      <div class="four column row">
        <div class="column">
          <% m.teams.each do |t| %>
            <h4><%= t.name %></h4>
          <% end %>
        </div>
        <div class="column">
          <% m.teams.each do |t| %>
            <h4><%= m.scores.find_by(team_id: t.id).score %></h4>
          <% end %>
        </div>
        <div class="column">
          <h3><%= m.game.name %></h3>
        </div>
        <div class="right aligned column">
          <%= link_to "Edit", {action: "edit", id: m.id}, method: :get, class: "ui blue button" %>
          <%= link_to "Delete", {action: "destroy", id: m.id}, method: :delete, class: "ui red button" %>
          <%= link_to "Scores", {controller: :scores, action: "index", match_id: m.id}, method: :get, class: "ui yellow button" %>
        </div>
      </div>
    <% end %>

    <div class="one column row">
      <div class="right aligned column">
        <%= link_to "New Match", { action: "new" }, method: :get, class: "ui green button" %>
      </div>
    </div>
  </div>
</div>
