<h2>Create a Match</h2>

<%= form_for @match, html: {class: "ui form"} do |f| %>
  <div class="field">
    <%= f.collection_check_boxes :team_ids, Team.all, :id, :name, checked: Team.all.map(&:id) do |b| %>
      <span>
        <%= b.check_box %>
        <%= b.label %>
      </span>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :game %>
    <%= f.collection_select :game_id, Game.all, :id, :name %>
  </div>

  <%= f.submit "Submit", class: "ui green button" %>
<% end %>
