<h2>Create a Match</h2>

<%= form_for @match, html: {class: "ui form"} do |f| %>
  <div class="field">
    <%= fields_for :team_ids do |t| %>
      <%= t.label "Team 1" %>
      <%= t.collection_select nil, Team.all, :id, :name %>

      <%= t.label "Team 2" %>
      <%= t.collection_select nil, Team.all, :id, :name %>
    <% end %>


    <%= f.label :game %>
    <%= f.collection_select :game_id, Game.all, :id, :name %>
  </div>

  <%= f.submit "Submit", class: "ui green button" %>
<% end %>
