<!DOCTYPE html>
<html>
  <head>
    <title>Scoreboardrr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header class="ui center aligned container">
      <h1>Scoreboard</h1>
      <%= render "shared/links" %>
      <%= semantic_flash %>
    </header>
    <br>
    <main class="ui container">
      <%= yield %>
    </main>

    <footer>
      <div class="ui center aligned container">
        <%= render "shared/links" %>
      </div>
    </footer>
  </body>
</html>
