<!DOCTYPE html>
<html>
  <head>
    <title>Scoreboardrr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= semantic_flash %>

    <main class="ui container">
      <%= yield %>
    </main>
  </body>
</html>
