<!DOCTYPE html>
<html>
  <head>
    <title>Scoreboardrr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="ui center aligned container">
      <h1>Scoreboard</h1>
    </header>

    <%= semantic_flash %>

    <main class="ui container">
      <%= yield %>
    </main>

    <footer>
      <div class="ui center aligned container">
        <%= render "shared/links" %>
      </div>
    </footer>
  </body>
</html>
